form {
  margin: 0;
}
fieldset {
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $base-line-height;
  border: 1px solid $border-form-color;
}
label,
input,
button,
select,
textarea {
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $base-line-height;
}
label {
  display: block;
  margin-bottom: $margin / 2;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 18px;
  padding: 3px 4px;
  margin-bottom: 0;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
}
textarea {
  height: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: $white;
  border: 1px solid $border-form-color;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: $border-form-hover-color;
  outline: 0;
  outline: thin dotted \9;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 3px 0;
  *margin-top: 0;
  /* IE7 */

  line-height: normal;
  cursor: pointer;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
.uneditable-textarea {
  width: auto;
  height: auto;
}
select,
input[type="file"] {
  height: 26px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 26px;
}
select {
  border: 1px solid $border-form-color;
  background-color: $white;
}
select[size] {
  height: 26px;
}
select[multiple] {
  height: 100px;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted $border-form-outline-color;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input.error,
textarea.error,
select.error {
  border: 1px solid $red;
}
