// Font face
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* Base font typography */
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-size: $base-font-size;
  font-family: $sans-font-family;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $bg-color;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input,
select[multiple],
textarea {
  background-image: none;
}
a {
  @include link-colors($normal, $hover, $active, $visited, $focus);
  text-decoration: none;
}
hr {
  margin-top: $margin * 2;
  margin-bottom: $margin * 2;
  border: 0;
  border-top: 1px solid $border-color;
}
p {
  margin: 0 0 $margin;
}
small {
  font-size: 85%;
}
cite {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-font-family;
  font-weight: 500;
  line-height: 1.1;
}
h1,
h2,
h3 {
  margin-top: $margin;
  margin-bottom: $margin;
}
h4,
h5,
h6 {
  margin-top: $margin;
  margin-bottom: $margin;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 13px;
}
h6 {
  font-size: 12px;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: $margin;
  padding: 0 0 0 $padding * 6;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
dl {
  margin-bottom: $margin * 2;
}
dt,
dd {
  line-height: $base-line-height;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
blockquote {
  padding: $margin $margin * 2;
  margin: 0 0 $margin * 2;
  border-left: 5px solid $border-color;
}
blockquote p {
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote small {
  display: block;
  line-height: 1.428571429;
  color: $text-color-small;
}
blockquote small:before {
  content: '\2014 \00A0';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: $margin * 2;
  font-style: normal;
  line-height: $base-line-height;
}
