.l-branding {
  margin: $margin 0;
  color: $white;
  a {
    @include link-colors($site-normal, $site-hover, $site-active, $site-visited, $site-focus);
    font-size: $logo-font-size;
    &.site-branding__logo {
      float: left;
    }
    &.site-branding__name {
      margin-top: $margin * 4;
      display: block;
    }
    img {
      width: 100px;
      margin-right: $margin;
    }
  }
}
