.l-main-wrapper {
  .tabs {
    a {
      @include sassy-button("flat", 0px, $small-font-size, $sb-tab-color);
      margin: 0 1px 0 0;
      padding: 0.4em 1.2em;
      &:hover,
      &:focus,
      &.active {
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        @include sassy-button("flat", 0px, $small-font-size, $sb-tab-active-color);
        padding: 0.4em 1.2em;
      }
    }
  }
  .links--inline {
    li {
      margin: 0;
    }
  }
  .tabs--primary {
    margin-bottom: 0;
    border-bottom: 1px solid $border-tab-color;
  }
  .l-content {
    h1 {
      border-bottom: 1px solid $border-color;
      padding-bottom: $padding;
    }
    article {
      .node__content {
        .field--name-field-tags {
          .field__label {
            float: left;
          }
          .field__items {
            .field__item {
              float: left;
              margin-right: $margin / 2;
            }
          }
          a {
            font-size: $tag-font-size;
            display: inline-block;
            background: $bg-tag;
            border: 1px solid $border-tag-color;
            text-decoration: none;
            white-space: nowrap;
            overflow: visible;
            margin: 2px 2px 5px 0;
            padding: 0.20em 0.4em;
            line-height: 16px;
            @include border-radius($normal-border-radius);
            &:focus,
            &:hover {
              background-color: $bg-tag-hover!important;
              border:1px solid $border-tag-hover-color!important;
              color: $tag-hover-color !important;
              -webkit-transition: all 0.3s ease-in;
              -moz-transition: all 0.3s ease-in;
              transition: all 0.3s ease-in;
            }
          }
        }
        .book-navigation {
          clear: both;
          margin-top: $margin;
          .menu {
            border-top: 1px solid $border-book-color;
            padding: $padding 0 $padding $padding * 4;
          }
          .book-navigation__links {
            border-bottom: 1px solid $border-book-color;
            border-top: 1px solid $border-book-color;
            padding-bottom: $padding * 5;
            padding-top: $padding * 2;
          }
        }
      }
      .node__submitted {
        font-size: $small-font-size;
        font-style: italic;
        .submitted {
          background-color: $bg-submited;
          padding: $padding;
        }
      }
      .field--type-is-useful {
        label {
          float: left;
          margin-right: $margin;
        }
        .is-useful-link {
          float: left;
          margin-right: $margin;
        }
        .form-submit {
          display: none;
        }
      }
      .field--name-field-question-tags {
        .field__items {
          .field__item {
            float: left;
            margin-right: $margin / 2;
          }
        }
        a {
          font-size: $tag-font-size;
          display: inline-block;
          background: $bg-tag;
          border: 1px solid $border-tag-color;
          text-decoration: none;
          white-space: nowrap;
          overflow: visible;
          margin: 2px 2px 5px 0;
          padding: 0.20em 0.4em;
          line-height: 16px;
          @include border-radius($normal-border-radius);
          &:focus,
          &:hover {
            background-color: $bg-tag-hover!important;
            border:1px solid $border-tag-hover-color!important;
            color: $tag-hover-color !important;
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
          }
        }
      }
      .links {
        &.links--inline {
          margin-top: $margin / 2;
        }
        &.node__links {
          li {
            margin-right: $margin / 2;
          }
        }
      }
      .comment-wrapper {
        .comment {
          border-bottom: 1px solid $border-comment-color;
          margin-bottom: $margin;
        }
        h3.comments__title {
          padding-bottom: $padding;
          border-bottom: 1px solid $border-comment-color;
        }
        .comment__info {
          .comment__submitted {
            font-size: $small-font-size;
            font-style: italic;
            background-color: $bg-submited;
            padding: $padding;
            float: left;
            margin-right: $margin / 2;
          }
        }
        .comment__content {
          float: none;
        }
        .links {
          &.links--inline {
            margin-top: $margin / 2;
            margin-bottom: $margin / 2;
          }
          &.comment__links {
            li {
              margin-right: $margin / 2;
            }
          }
        }
        .form-actions {
          .form-submit {
            margin-top: $margin / 2;
          }
        }
        .indented {
          margin-left: $margin;
        }
        mark {
          padding: 0 $padding;
        }
      }
    }
    .comment {
      .comment__submitted {
        font-size: $small-font-size;
        font-style: italic;
        background-color: $bg-submited;
        padding: $padding;
        float: left;
        margin-right: $margin / 2;
      }
      .links {
        &.links--inline {
          margin-top: $margin / 2;
          margin-bottom: $margin / 2;
        }
        &.comment__links {
          li {
            margin-right: $margin / 2;
          }
        }
      }
    }
    .comment-form {
      .form-actions {
        .form-submit {
          margin-top: $margin / 2;
          margin-right: $margin / 2;
        }
      }
    }
    .views-row {
      border-bottom: 1px dotted $border-content-color;
      padding-bottom: $padding;
      .tags {
        a {
          font-size: $tag-font-size;
          display: inline-block;
          background: $bg-tag;
          border: 1px solid $border-tag-color;
          text-decoration: none;
          white-space: nowrap;
          overflow: visible;
          margin: 2px 2px 5px 0;
          padding: 0.20em 0.4em;
          line-height: 16px;
          @include border-radius($normal-border-radius);
          &:focus,
          &:hover {
            background-color: $bg-tag-hover!important;
            border:1px solid $border-tag-hover-color!important;
            color: $tag-hover-color !important;
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
          }
        }
      }
    }
    .pager {
      margin-top: 10px;
    }
  }
}
