.l-footer-wrapper {
  color: $white;
  a {
    @include link-colors($footer-normal, $footer-hover, $footer-active, $footer-visited, $footer-focus);
  }
  .l-footer-column {
    .l-region {
      ul,
      ol {
        padding: 0 0 0 $padding * 2;
        li {
          list-style: none;
        }
      }
      h3.block__title {
        margin: 0 0 $margin 0;
      }
    }
  }
}
