.l-region--highlighted {
  .block__content {
    .view-content {
      min-height: 110px;
      ul,
      ol {
        padding: 0 0 0 $padding * 4;
      }
    }
  }
  .view-footer,
  .more-link {
    float: right;
    padding-right: $padding;
  }
}
