/* Navbar */
.l-region--navigation {
  text-transform: uppercase;
  text-align: center;
  font-size: 90%;
  ul.sf-menu {
    margin: 0;
    padding: 0;
    display: inline;
    list-style: none;
    font-weight: normal;
    float: right;
    a {
      @include link-colors($menu-normal, $menu-hover, $menu-active, $menu-visited, $menu-focus);
      @include sassy-button("flat", 0px, $base-font-size);
      margin: 0;
      &:hover,
      &:focus {
        @include sassy-button("flat", 0px, $base-font-size, $sb-hover-color);
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
      }
      &.active {
        @include sassy-button("flat", 0px, $base-font-size, $sb-active-color);
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
      }
    }
  }
}
