.l-region--sidebar-second {
  background-color: $bg-sidebar-second;
  margin-bottom: $margin * 2;
  .block {
    padding: $padding * 2;
  }
  h3.block__title {
    margin-top: 0;
    color: $sidebar-title-color;
  }
  #block-views-question-tags-block {
    ul {
      padding-left: 0;
      li {
        list-style: none;
      }
    }
    a {
      font-size: $tag-font-size;
      display: inline-block;
      background: $bg-tag;
      border: 1px solid $border-tag-color;
      text-decoration: none;
      white-space: nowrap;
      overflow: visible;
      margin: 2px 2px 5px 0;
      padding: 0.20em 0.4em;
      line-height: 16px;
      @include border-radius($normal-border-radius);
      &:focus,
      &:hover {
        background-color: $bg-tag-hover!important;
        border:1px solid $border-tag-hover-color!important;
        color: $tag-hover-color !important;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
      }
    }
  }
  #block-book-navigation {
    ul {
      padding: 0 0 0 $padding * 4;
    }
  }
}
