/* Topbar */
.l-top-wrapper {
  font-size: $small-font-size
}
.l-region--top {
  margin-top: $margin/2;
}
.l-top-wrapper ul.menu,
.l-top-wrapper ul.menu li {
  display: inline;
  list-style: none;
  font-weight: normal;
}
.l-top-wrapper ul.menu li {
  margin-right: $margin;
  &.last {
    margin-right: $margin/2;
  }
}
.l-top-wrapper a {
  @include link-colors($top-normal, $top-hover, $top-active, $top-visited, $top-focus);
}
