div.toboggan-container {
  text-align: center;
}
div.toboggan-login-link-container {
  text-align: left;
  a {
    text-decoration: none;
  }
}
div.toboggan-block-message {
  text-align: left;
}
div.user-login-block {
  text-align: left;
  a {
    text-align: left;
  }
}

/* Unified login */

.toboggan-unified {
  #login-message {
    text-align: center;
    font-size: 2em;
    line-height: 1.2;
  }
}

.toboggan-unified {
  #login-links {
    text-align: center;
    font-size: 1.5em;
    line-height: 2.7;
    a {
      @include sassy-button("flat", 0px, $big-font-size, $sb-tab-color);
      &:hover,
      &.lt-active,
      &.lt-active:hover {
        @include sassy-button("flat", 0px, $big-font-size, $sb-tab-active-color);
      }
    }
  }
  &.login {
    #register-form {
      display: none;
    }
  }
  &.register {
    #login-form {
      display: none;
    }
  }
}
