@import "../../partials/utility";

.l-constrained {
  width: 95%;
  margin: 0 auto;
  @include pie-clearfix;
}

/* Header */
.l-header-wrapper {
  background-color: $bg-header;
  background-image: url(../../../images/header-background.png);
  background-repeat: repeat-x;
}
.l-top-wrapper {
  height: 30px;
  background-color: $bg-top;
}
.l-region--top {
  float: right;
}

/* Content Area */
.l-highlighted-wrapper {
  background-color: $white;
}
.l-region--highlighted {
  @extend .l-constrained;
}
.l-region--help {
  margin-bottom: $margin;
}
.l-main {
  margin-top: 2 * $margin;
  margin-bottom: 2 * $margin;
}

/* Sidebars */
.l-region--sidebar-first,
.l-region--sidebar-second {
  padding: 0;
}

/* Footer */
.l-footer-wrapper {
  padding: $padding * 4 0;
  background-color: $bg-footer;
}
.l-region--footer {
  @extend .l-constrained;
}

@include breakpoint($tab, true) {
  .l-constrained {
    width: 90%;
  }
  /* Header */
  .l-branding {
    @include grid-span(4, 1);
  }
  .l-region--navigation {
    @include grid-span(8, 5);
  }
  /* Sidebars */
  .has-two-sidebars,
  .has-one-sidebar {
    .l-content {
      @include grid-span(8, 1);
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include grid-span(4, 9);
      clear: right;
    }
  }
}

@include breakpoint($desk, true) {
  .l-constrained {
    width: 80%;
  }
  /* Header */
  .l-branding {
    @include grid-span(4, 1);
  }
  .l-region--navigation {
    @include grid-span(8, 5);
  }
  /* highlighted */
  .l-region--highlighted {
    .block {
      @include grid-span(4,9);
      float: left;
    }
  }
  /* one sidebars */
  .has-one-sidebar {
    .l-content {
      @include grid-span(8, 1);
    }
    .l-region--sidebar-first {
      @include grid-span(4, 9);
      clear: none;
    }
  }
  /* two sidebars */
  .has-two-sidebars {
    .l-content {
      @include grid-span(6, 1);
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include grid-span(3, 7);
      clear: none;
    }
    .l-region--sidebar-second {
      @include grid-span(3, 10);
    }
  }
  .l-footer-column {
    .l-region {
      @include grid-span(3, 10);
      float: left;
    }
  }
}
