// ---------------------------------------------------------------------------
// Grid
$tab: 44em;
$desk: 70em;
$grids: 4;
$grids: add-grid(12 at $tab);
$gutters: 1/3;

// Grid debug
$debug-grid: false !default;

@mixin grid-background {
  @if $debug-grid == true {
    @include background-grid;
  }
}

// ---------------------------------------------------------------------------
// Colors
// Base colors
$white: #fff;
$black: #000;
$green: #5da423;
$red: #c60f13;
$blue: #3a87ad;
$yellow: #ed5;

// Text colors
$text-color: #444;
$text-color-small: #999;
$footer-color: #444;
$tag-hover-color: #0077c0;

// Link colors
$normal: #0678BE;
$hover: #3d89b7;
$active: $normal;
$visited: $normal;
$focus: $hover;

// Topbar link colors
$top-normal: $white;
$top-hover: #A5E2FF;
$top-active: $top-normal;
$top-visited: $top-normal;
$top-focus: $top-hover;

// Site link colors
$site-normal: $white;
$site-hover: #A5E2FF;
$site-active: $site-normal;
$site-visited: $site-normal;
$site-focus: $site-hover;

// Menu link colors
$menu-normal: $white;
$menu-hover: #A5E2FF;
$menu-active: $menu-normal;
$menu-visited: $menu-normal;
$menu-focus: $menu-hover;

// Footer link colors
$footer-normal: #3d89b7;
$footer-hover: #A5E2FF;
$footer-active: $footer-normal;
$footer-visited: $footer-normal;
$footer-focus: $footer-hover;

// Background colors
$bg-color: #ffffff;
$bg-header: #56B3E6;
$bg-top: #064771;
$bg-hero: #8ACCF1;
$bg-test: #F5F5F5;
$bg-footer: #363636;
$bg-tag: #f8f8f8;
$bg-tag-hover: #d4ecfb;
$bg-sidebar-second: #F6F6F2;
$bg-submited: #F6F6F2;

// Margin & padding
$margin: 10px;
$padding: 5px;

// ---------------------------------------------------------------------------
// Type
$sans-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-font-family: Georgia, "Times New Roman", Times, serif;
$mono-font-family: Monaco, Menlo, Consolas, "Courier New", monospace;

// Font size
$base-font-size: 14px;
$base-line-height: 20px;
$small-font-size: 12px;
$tag-font-size: 11px;
$logo-font-size: 30px;
$big-font-size: 14px;

// ---------------------------------------------------------------------------
// Vars
$default-border-radius: 3px;

// ---------------------------------------------------------------------------
// Sassy buttons
$sb-base-color:      #4ba3cc;      // Base color of your button
$sb-second-color:    #0077c0;      // Optional second color of button gradient
$sb-border-radius:   3px;         // Button border radius
$sb-border-width:    1px;          // Button border width
$sb-padding:         0.6em 1.2em;  // Button padding
$sb-font-size:       14px;         // Button font-size
$sb-line-height:     1.4em;        // Button line-height
$sb-text-color:      white;        // Button text color
$sb-text-style:      "inset";      // Button text shadow style
$sb-gradient-style:  "flat";       // Button gradient style
$sb-auto-states:     true;         // Automatically create pseudo styles

// Border radius
$normal-border-radius: 3px;

// Custom button var
$sb-hover-color:            #349edf;            // Active button color
$sb-active-color:           #0b3b5e;            // Active button color
$sb-tab-color:              #3d89b7;     //
$sb-tab-active-color:       #0678BE;    //

// Border color
$border-color: #eee;
$border-tab-color: $sb-tab-active-color;
$border-tag-color: #ececec;
$border-tag-hover-color: #c7e1f1;
$border-content-color: #ccc;
$border-sidebar-color: #0678BE;
$border-comment-color: #c6c6c6;
$border-form-color: #ccc;
$border-form-hover-color: #4183C4;
$border-form-outline-color: #333;
$border-book-color: #c6c6c6;

// Header color
$sidebar-title-color: #555;